---
---

@import "{{ site.theme }}";

sup {
  font-size: smaller;
  vertical-align: super;
}
ol {
  counter-reset: item;
  margin-bottom: 0px;
}
li {
  display: block;
}
li:before {
  content: counters(item, ".") ". ";
  counter-increment: item;
}
.copyright {
  color: #f2f2f2;
}
.copyright a {
    color: #F2F2F2;
    text-decoration: underline;
}
